{
  "manifest_version": 2,
  "applications": {
    "gecko": {
      "strict_min_version": "54.0a1",
      "id": "support@laserlike.com"
    }
  },
  "name": "Advance - Powered by Laserlike",
  "version": "{{version}}",
  "description": "{{description}}",
  "author": "{{{author}}}",
  "homepage_url": "{{{homepage}}}",
  "background": {
    "scripts": [
      "background/index.js"
    ]
  },
  "browser_action": {
    "default_icon": "icons/laserlike_ff_icon.png",
    "browser_style": true,
    "default_title": "Advance - Powered by Laserlike"
  },
  "sidebar_action": {
    "default_icon": "icons/laserlike_ff_icon.png",
    "default_title": "{{name}}",
    "default_panel": "sidebar/panel.html"
  },
  "permissions": [
    "storage",
    "activeTab",
    "*://*.laserlike.com/",
    "cookies",
    "tabs",
    "menus"
  ]
}